<div class="container my-4">
  <h2><i class="fas fa-suitcase-rolling"></i> 退会お手続き</h2>
  <div class="row">
    <div class="col">
      <p>
        退会お手続きをされますと、思い出の投稿ができなくなります。<br>
        再度ご利用をいただく場合、新規登録のお手続きが必要となります。<br>
        本当に退会してよろしいですか？
      </p>
      <%= link_to "退会する", withdrawal_path, method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger" %>
      <%= link_to "退会しない", user_path(current_user), class: "btn btn-primary" %>
    </div>
  </div>
</div>