<h1>旅行の思い出</h1>


  <div id="my-map"></div>

  <script>
        var d = new jpmap.japanMap(document.getElementById("my-map"), {
            onSelect: function(data){
            alert(data.name);
          }
        });
  </script>