<title>旅行の思い出</title>

  <div id="my-map"></div>

  <script>
    $(function(){
      $("#my-map").japanMap({
        onSelect : function(data){
          alert(data.name);
        }
      });
    });
  </script>